/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Lobster|Playfair+Display:900|Raleway:400,700');

/* UNIVERSAL STYLES */
.lobster-text {
  font-family: 'Lobster', cursive;
}

.orange-text {
  color: #F8512F;
}

.white-text {
  color: #fff;
}

body {
  font-family: 'Raleway', sans-serif;
}

/* NAVBAR STYLES */
.navbar-default {
  background-color: transparent;
  border: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, .6);
  text-shadow: 1px 1px 1px #000;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #F65239;
  background-color: rgba(0, 0, 0, .25);
}

/* CAROUSEL STYLES */
.item {
  height: 450px;
  background-size: cover;
  background-position: center;
}

.wood-bg {
  background-image: url('../img/wood-2.jpg');
}

.seating-bg {
  background-image: url('../img/restaurant-2.jpg');
}

.hero-logo {
  width: 240px;
}

.flex-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Our Story Section */
#our-story {
  margin: 120px auto;  
}

#our-story .lobster-text {
  font-size: 6em;
  text-shadow: 1px 1px 2px #000;
}

.year-text {
  font-family: 'Playfair Display', serif;
  font-size: 13em;
  position: absolute;
  color: rgba(0, 0, 0, .12);
}

#our-story p {
  font-weight: 200;
}

/* REVIEW SECTION */

#review {
  background-image: url('../img/food_review.jpg');
  background-size: cover;
  background-position: center;
  padding: 200px 0px;
}

.review-box {
  background-color: rgba(0,0,0,.6);
  border-radius: 6px;
}

.review-box h1 {
  text-shadow: 1px 1px 2px #000;
  font-size: 5.5em;
}

.review-box p {
  font-size: 32px;
}
